body {
    /*min-height: 2000px;*/
    padding-top: 70px;
    padding-bottom: 140px;
    margin-top: 0px;
  }
  a.anchor
  {
     display: block;
     position: relative;
     top: -60px;
     visibility: hidden;
  }
  
  
  /*@font-face {
      font-family: OldLondon;
      src: url(fonts/OldLondon.ttf);
  }
  @font-face {
      font-family: 'sans';
      src: url('fonts/SourceSansPro-Light.otf') format('opentype');
  }*/
  
  div {
  /*    font-family: 'Josefin Sans', sans-serif;*/
      font-size:12pt;
  }
  
  
  .theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
  }
  
  .theme-showcase > p > .btn {
    margin: 5px 0;
  }
  
  .theme-showcase .navbar .container {
    width: auto;
  }
  
  .navbar-toggle.navbar-left {
    float: left;
    margin-left: 10px;
  }
  
  .section {
      padding-top: 40px;
      overflow: auto;
  }
  
  
  
  .blue {
    color: #3466B2;
    /*text-shadow: 0 1px 0 rgba(255, 255, 255, .25);*/
  }
  
  .jumbotron {
      margin-bottom: 0px;
      background-color: white;
      background-position: 0% 25%;
      background-size: cover;
      background-repeat: no-repeat;
  }
  
  blockquote {
  /*    font-family: 'Josefin Sans', sans-serif;*/
      font-size: 12pt;
  }
  
  figcaption {
      font-size: 10pt;
  }
  
  figure.float-right {
      float: right;
      width:250pt;
      margin: 10px;
      padding: 15px;
  }
  figure.float-left {
      float: left;
      width:250pt;
      margin: 10px;
      padding: 15px;
  }
  
  p {
    text-align: justify;
  }
  
  h1,h2,h3,h4,strong {
    color: #3466B2;
  }
  
  h1[id],h2[id],h3[id],h4[id] {
      margin-top:-40px;
        padding-top: 60px;
  }
  
  
  
  span.reverse {
    unicode-bidi: bidi-override;
    direction: rtl;
  }
  
  img.protected {
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
  
  div.paperBlock {
      padding: 15pt;
  }
  
  img.paperBlock {
      margin-top:-40px;
        padding-top: 60px;
  }
  
  .bibliography
  {
     word-wrap: break-word;
     font-family: monospace;
     color: #000000;
     font-size: 9pt;
  }
  
  .col-xs-5ths,
  .col-sm-5ths,
  .col-md-5ths,
  .col-lg-5ths {
      position: relative;
      min-height: 1px;
      padding-right: 10px;
      padding-left: 10px;
  }
  
  .col-xs-5ths {
      width: 20%;
      float: left;
  }
  
  @media (min-width: 768px) {
      .col-sm-5ths {
          width: 20%;
          float: left;
      }
  }
  
  @media (min-width: 992px) {
      .col-md-5ths {
          width: 20%;
          float: left;
      }
  }
  
  @media (min-width: 1200px) {
      .col-lg-5ths {
          width: 20%;
          float: left;
      }
  }
  
  @media screen and (min-width: 768px) {
    .sidebar {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      display: block;
      overflow-x: hidden;
      overflow-y: auto
    }
  }
  
  
  nav[data-toggle='toc'] {
      margin-top: 16px;
  }
  
  /* small screens */
  @media (max-width: 768px) {
    /* override the Affix plugin so that the navigation isn't sticky */
    nav.affix[data-toggle='toc'] {
      position: static;
    }
  
    /* PICK ONE */
    /* don't expand nested items, which pushes down the rest of the page when navigating */
    /*nav[data-toggle='toc'] .nav .active .nav {
      display: none;
    }*/
    /* show nested items */
    nav[data-toggle='toc'] .nav .nav {
      display: block;
    }
  }
