:root {
    /* COLORS */
    /* TU BERLIN RED */
    --main_color_dark: #550000;
    --main_color_medium: #790000;
    --main_color_light: #930000;
    --main_color_very_light: #c20000;

    /* GRAY SCALE */
    --gray_very_dark: #7c7c7c;
    --gray_dark: #d2d2d2;
    --gray_medium_dark: #e1e1e1;
    --gray_medium: #f0f0f0;
    --gray_light: #f7f7f7;
    --gray_very_very_dark: #303030;

    --link-color: #ffcb6b;

    --outline-thickness: 1px;
}

/* Base Styles */
body {
    font-family: Arial, sans-serif;
}

main {
    background: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(71, 71, 71));
}

.main-field {
    padding-top: 55px;
}

.main-content {
   padding-bottom: 5px !important;
}

/* Style all links within paragraphs */
p a {
    color: var(--link-color);
    text-decoration: none;
}

p a:hover {
    color: var(--link-color);
    text-decoration: underline;
}

/* Sidebar Styles */
.sidebar {
    background-image: linear-gradient(to bottom, var(--main_color_dark), var(--main_color_very_light));
    color: white;
    border-right: var(--outline-thickness) solid black;
}

/* Styles for all section titles */
.section-title {
    font-size: 2rem;
    color: #ffffff;
    margin-bottom: 20px;
    border-radius: 50px;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, .4);
    text-align: center;
    display: block;
    padding: 0 auto;
    text-shadow: calc(-1* var(--outline-thickness)) calc(-1* var(--outline-thickness)) 0 #000, var(--outline-thickness) calc(-1* var(--outline-thickness)) 0 #000, calc(-1* var(--outline-thickness)) var(--outline-thickness) 0 #000, var(--outline-thickness) var(--outline-thickness) 0 #000;
    outline: 1px solid black;
    scroll-margin-top: 100px;
}



/* Customize the card style */
.card {
   background-color: var(--gray_light); /* Change to your desired background color */
   border-radius: 25px;       /* Adjust the value for rounder corners */
   border: none;              /* Remove default border if desired */
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
   outline: var(--outline-thickness) solid rgba(0, 0, 0, 0.2);
   padding: 3px;
}

.card:hover {
   background-color: var(--gray_medium);
   box-shadow: 6px 6px 25px 2px rgba(0, 0, 0, 0.5);
}


@media (min-width: 992px) {

   .main-content {
      min-height: 100vh;
  }

   .sidebar {
       position: sticky;
       top: 60px; /* Adjust this value to match the height of your navbar */
       height: calc(100vh - 60px); /* Subtract the navbar height */
       overflow-y: auto;
   }
}

@media (max-width: 991.98px) {
    /* On mobile devices, move the sidebar content to the top */
    .sidebar {
        order: -1;
    }
}

/* Card Image Container */
.card-img-container {
    width: 100%;
    height: 200px; /* Adjust as needed */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}

/* Card Image Styles */
.card-img-container .card-img-top {
    width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: contain;
}

/* Footer Styles */
footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 20px;
    outline: var(--outline-thickness) solid white;
}

/* Heading Styles */
h2 {
    font-weight: bold;
}

.navbar {
    background-color: var(--main_color_dark);
    outline: var(--outline-thickness) solid black;
    outline-offset: -1px;
}

/* Navbar Styles */
.navbar-brand.btn {
    padding: 0.5rem 1rem; /* Adjust padding as needed */
    border-radius: 0.25rem; /* Rounded corners */
    color: #ffffff; /* Text color */
    font-weight: bold;
    background-color: var(--main_color_light); /* Bootstrap primary color */
    border: none;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    outline: var(--outline-thickness) solid black;    
}

.navbar-brand.btn:hover {
    background-color: var(--main_color_medium); /* Darken on hover */
    box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.8);
}

.navbar-nav .nav-link {
    font-size: 1rem;
    font-weight: bold;
    color: #ffffff;
    background-color: var(--main_color_very_light);
    margin: 5px;
    border-radius: 25px;
    padding: 6px 15px !important;
    outline: var(--outline-thickness) solid black;
    
}

@media (max-width: 991.98px) {
   .navbar-nav .nav-link {
       text-align: center;
   }
}


.navbar-nav .nav-link:hover {
    background-color: var(--main_color_light);
    box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.8);
    
}

@media (max-width: 575.98px) {
    .nav-link {
        font-size: 0.9rem;
        padding: 6px 8px;
    }
}

/* Social Media Buttons */
.social-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0px; /* Adjusts the space between buttons */
    
}

.social-buttons .btn {
    flex: 1 1 auto;
    max-width: 120px; /* Set your desired maximum width */
    margin: 5px;
    padding: 5px 10px; /* Adjust padding as needed */
    font-size: 0.9rem; /* Adjust font size as needed */
    white-space: nowrap; /* Prevents text from wrapping within buttons */
    outline: var(--outline-thickness) solid black;
}

@media (max-width: 575.98px) {
    .social-buttons .btn {
        flex: 1 1 45%; /* Buttons will take up about half the width on small screens */
        max-width: none;
    }
}

/* Adjust Card Heights for Consistency */
.card {
    height: 100%;
}

/* Adjust Card Text */
.card-title {
   font-size: 1.1rem;
   font-weight: bold;
   text-align: center;  /* This centers the text */
}

.card-text {
    font-size: 0.9rem;
}

/* Make the navbar-toggler-icon white */
.navbar-toggler-icon {
   background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
   width: 30px;
   height: 30px;
}

/* Style the navbar-toggler button */
.navbar-toggler {
    color: white;
    border-color: white;
    display: flex;
    align-items: center;
}

/* Style the navbar-toggler-text */
.navbar-toggler-text {
    color: white;
    margin-left: 5px;
}

/* Hide the navbar-toggler-text on larger screens */
@media (min-width: 992px) {
    .navbar-toggler-text {
        display: none;
    }
}
