/* Costum Color */
:root {
    --red_dark: #550000;
    --red_medium: #790000;
    --red_light: #930000;
    --red_very_light: rgb(194, 0, 0);
    --gray_very_dark: rgb(124, 124, 124);
    --gray_dark: rgb(210, 210, 210);
    --gray_medium: rgb(240, 240, 240);
    --gray_light: rgb(247, 247, 247);
}


* {
    margin: 0;
    padding: 0;
}

body {
    /* font-family: Questrial; */
    font-family: Helvetica, sans-serif;
    line-height: 1.42857143;
    background-color: var(--red_medium);
}


ul {
    padding-left: 20px;
    text-indent: -0px;
}

/* NAVIGATION BAR */

:target {
    scroll-margin-top: 60px;
}

nav {
    overflow: hidden;
    background-color: var(--red_light);
    position: fixed;
    top: 0;
    width: 100%;
    /* min-width: 1000px */
}

nav a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
    /* font-size: 20px; */
    /* font-size: 2.5vw; */
    /* font-size: min(2.5vw,14px); */
    /* max-height: 20px; */
    transition: background-color 100ms ease-out 100ms;
}

nav a.nav-first {
    background-color: var(--red_dark);
}

nav a:hover {
    background-color: #303030;
    color: white;
    text-decoration: none;
}


/* MAIN */
main {
    background-color: white;
    max-width: 1000px;
    align-items: center;
    justify-content: center;
    margin: 48px auto -15px auto;
    padding: 1px 0 20px 0;

}

a {
    text-decoration: none;
    text-decoration-color: black;
    color: none;
}

a:link {
    text-decoration: none;
    /* color: none; */
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: none;
}

#position {
    font-size: 20px;
    padding: 5px 0 5px 0;
    text-align: center;
    margin: auto;
    font-style: normal;
    color: var(--gray_light);
}

/* line to seperate content */
.line {
    margin: 0px auto 0px auto;
    height: 1px;
    width: 100%;
    background-color: var(--gray_dark);
}

h1 {
    margin: 10px;
    max-width: 600px;
    margin: 10px 10px 10px 10%;
    /* background-color: rgb(156, 156, 156); */
}

img.icon {
    width: 16px;
    height: 16px;
    vertical-align: text-top;
}


/* COLUMN SYSTEM */
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px 10%;
    padding: 10px;
    background-color: var(--gray_light);
    border-radius: 25px;
    box-sizing: border-box;
    /* background-color: aqua; */
}

.row:hover {
    outline: 1px solid black;
    background-color: var(--gray_medium);
    text-decoration: none;
}

.box {
    height: 200px;
}

.column-image {
    width: 40%;
    max-width: 300px;
    /* background-color: rgb(126, 248, 248); */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.column-image img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    /* height: auto; */
}

.row-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px 10%;
    padding: 0px;
    background-color: var(--gray_medium);
    border-radius: 25px;
    outline: 20px black;
    outline: 1px solid black;
}

.column-image-title {
    /* width: 20%; */
    /* max-width: 100px; */
    /* min-width: 100px; */
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 10px 20px;
}


.column-image-title img {
    max-width: 150px;
    /* max-height: 100%; */
    width: 100%;
    /* height: auto; */
    border-radius: 5px;
}



.column-text {
    flex-grow: 1;
    flex: 1;
    min-width: 300px;
    /* display: flex; */
    box-sizing: border-box;
    /* display: inline-block; */
    vertical-align: middle;
    padding: 10px 10px 10px 10px;
    /* margin: 0 auto; */
    /* width: 65%; */
    max-width: 400px;
    max-height: none;
    min-width: 300px;
    /* height: 120px; */
    /* background-color: antiquewhite;  */
    overflow-wrap: break-word;
}


.publication-title {
    font-weight: bold;
    font-size: 20px;
    color: var(--red_dark);
    text-decoration: none;
    /* padding: 0 px; */
}

.publication-authors {
    /* background-color: beige; */
    color: var(--red_light);
    font-size: 13px;
    margin: 5px auto;
    overflow-wrap: break-word;
}

.publication-journal {
    font-size: 13px;
    font-style: italic;
    color: black;
}

.publication-link {
    color: var(--red_very_light);
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    /* margin: -5px 0; */
}





/* Project Pages */

h1.project-title {
    font-size: 40px;
    padding: 20px 0;
    color: var(--red_dark);
    text-align: center;
    margin: 0 auto;
}

a.project-subtitle,
p.project-subtitle {
    display: block;
    text-align: center;
    justify-content: center;
    /* margin: 0 auto; */
    margin: 0px 0 20px 0;
    color: inherit;
    /* background-color: aqua; */
}

.project-authors-row {
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    margin: 0px 0 20px 0;
}

a.project-author {
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    padding: 3px 4px;
    margin: 0px 3px;
    border-radius: 6px;
    color: var(--red_medium);
    transition: background-color 100ms ease-out 100ms;
}

.project-author:hover {
    background-color: var(--gray_medium);
    ;
    outline: 1px solid black;
    text-decoration: none;
}

.project-author-affiliation {
    font-size: 15px;
    color: black;
}

.project-box {
    /* display: flex; */
    flex-wrap: wrap;
    /* justify-content: center; */
    /* align-items: center; */
    width: 80%;
    min-width: 300px;
    max-width: 900px;
    margin: 10px auto;
    padding: 10px 10px;
    background-color: var(--gray_light);
    border-radius: 10px;

    /* justify-content: center; */
    /* text-align: center; */
}

img.project-box-image {
    width: 100%;
    margin: 0;
    padding: 0;
    /* background-color: aqua; */
}

p.project-box-caption {
    position: relative;
    top: 5px;
    width: 100%;
    font-size: 10px;
    color: var(--gray_very_dark);
    ;
    text-align: center;
}



.project-box h2 {
    color: var(--red_medium);
    margin: 0 0 5px 0;
}

.project-box-bibtex {
    font-family: monospace;
    background-color: none;
    padding: 0 10px;
}

.project-summary {
    padding: 0 0 0 20px;
}



/* IMAGE ROW */
.image-row {
    display: flex;
    align-items: center;
    justify-content: flex-start
}


.column {
    box-sizing: border-box;
    /* background-color: #00b3f9; */
}

.column img {
    width: 100%;
    height: auto;
    vertical-align: middle;
    float: left;

}

p.column-text {
    text-align: center;
    /* background-color: aqua; */
}


/* Buttons */
.project-buttons-row {
    width: 80%;
    /* max-width: 80%; */
    font-size: 25px;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
}

a.project-button {
    flex-direction: column;
    /* display: inline-block; */
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    margin: 5px 5px;
    border-radius: 6px;
    background-color: var(--gray_light);
    outline: 1px solid black;
    text-decoration: none;
    color: inherit;
}

.project-button:hover {
    background-color: var(--gray_dark);
    /* outline: 3px black; */
}

.bibtex-button {
    background-color: var(--gray_medium);
    padding: 5px;
    margin: 5px auto 10px auto;
    display: flex;
    border-radius: 5px;
    outline: 1px black;
}

.bibtex-button:hover {
    background-color: var(--gray_dark);
}





/* Youtube embeds */
iframe {
    margin: 0 auto;
    display: block;
    /* min-height: 300px; */
    width: 100%;
    /* height: 100%; */
    border-radius: 10px;
    padding: 0;
    margin: 0;
    aspect-ratio: 16/9;
    overflow: hidden;
}



/* Small Screens */
/* @media (max-width: 767px) { */
@media (max-aspect-ratio: 4/5) {

    .row {
        flex-direction: column;
        margin: 10px auto;
        width: 95%;
        max-width: 100%;
        /* outline-style: dashed; */
        box-sizing: border-box;
    }

    .column-image,
    .column-text {
        width: 90%;
        min-width: none;
        /* max-height: 40%; */
        max-width: none;
        /* max-width:70%; */
    }

    .column-image-title {
        width: 50%;
        max-height: none;
        margin: 5px;
    }

    .project-box {
        width: 90%;
        margin: 10px auto;
        /* outline-style: dashed; */
    }

    .project-author {
        font-size: 24px;
    }

    a.project-author {
        font-size: 30px;
    }
    .project-author-affiliation{
        font-size: 24px;
    }

    .publication-journal {
        font-size: 18px;
    }

    a {
        font-size: inherit;
    }
    /* .publication-link { */
        /* font-size: 22px; */
    /* } */


     /* nav a { */
        /* font-size: 2.5vw; */
        /* font-size: 28px; */
        /* float: none; */
        /* display: inline-block; */
        /* color: #ffffff; */
        /* text-align: left; */
        /* justify-content: space-around; */
 
    

    main {
        margin: 130px auto -15px auto;
    }

    body {
        background-color: white;
    }


}