.mainContent {
   width: 100%;
   position: relative;
   margin-right: 0px;
   padding-left: 0px;
   padding-right: 0px;
}

.sidebar {
   position: relative;
   right: 0px;
   width: 100%;
}

.frontPage td.title .text {
   padding-left: 2px;
   font-size: 13pt;
   top: -3pt;
}

.frontPage td.content .container .text {
   font-size: 9pt;
}

.frontPage .about {
   width: 100%;
   height: 216px;
   margin-top: 10px;
}

.frontPage .about td.content .container .text {
   height: 176px;
}

.paperSet {
   text-align: center;
}

.codeSet {
   text-align: center;
}

.paperBlock .paperTitle {
   width: 280px;
   font-size: 10pt;
}

.paperBlock img {
   width: 280px;
}

.paperBlock {
   font-size: 9pt;
}

.paperBlock a {
   font-size: 9pt;
}

.abstractBox {
   width: 58px;
}

.abstractBox .abstract {
   width: 256px;
}

.bibBox .bibliography {
   width: 256px;
   left: -150px;
}

.fakeLink {
   font-size: 9pt;
}

.disabledLink {
   font-size: 9pt;
}


.header .name {
   font-size: 24pt;
   bottom: 12px;
}

.header .institution {
   font-size: 12px;
   top: -1px;
}

.header .navigation {
   left: 18px;
}

.header .navigation a {
   padding-left: 3px;
   padding-right: 3px;
   font-size: 11px;
}

.frontPage .info {
   height: 86px;
}

.frontPage .info tr.sponsor {
   display: none;
}

.codeBlock {
   width: 256px;
}

.codeBlock img {
   width: 256px;
}

.sidebarItem img.icon {
   width: 256px;
}

.sidebarItem td.models {
   text-align: center;
}

.paperBox .paperContent {
   font-size: 11px;
}

.paperBox .paperContent img {
   width: 100%;
   height: auto;
}

.paperBox .paperContent .abstractText {
   font-size: 9pt;
}

.paperBox .paperContent .paperTitle {
   font-size: 14px;
}

.paperBox .journalTitle {
   font-size: 10px;
}

.paperBox .projectDate {
   font-size: 9pt;
}

.paperBox .paperAward {
   font-size: 10px;
}

.paperBox .paperContent .authorNames {
   font-size: 8pt;
}

.paperBox .paperContent .authorNames table {
   font-size: 10px;
}

.paperBox .paperContent .authorNames td {
   padding-left: 10px;
   padding-right: 10px;
}

.paperBox .title {
   font-size: 18px;
}

.pdfBox .title {
   font-size: 18px;
}

.acknowledgementBox .title {
   font-size: 18px;
}

.referenceBox .title {
   font-size: 18px;
}

.videoBox .title {
   font-size: 18px;
}

.dataBox .title {
   font-size: 18px;
}

.seeAlsoBox .title {
   font-size: 18px;
}

.acknowledgementBox {
   width: 260px;
   margin-left: 18px;
   padding-bottom: 18px;
}

.referenceBox {
   display: none;
}

.seeAlsoBox {
   width: 280px;
   margin-left: 18px;
   padding: 12px;
   padding-bottom: 24px;
}

.seeAlsoBox .title {
   font-weight: bold;
   font-size: 18px;
   color: #000000;
   position: relative;
}

.seeAlsoBox .seeAlsoItem {
   padding-left: 10px;
   padding-top: 4px;
   font-size: 9pt;
}

.dataBox img {
   width: 100%;
}

.fileInfo {
   font-size: 10pt;
}

.figureBox {
   width: 100%;
   margin: 0px;
   margin-left: auto;
   margin-right: auto;
}

.figureBox .title {
   font-size: 18px;
   left: 2px;
   top: 5px;
}

.figureBox .figureContent {
   padding: 0px;
   padding-top: 18px;
}

.figureBox .figure {
   width: 90%;
   margin-left: auto;
   margin-right: auto;
   padding-bottom: 40px;
}

.figureBox .figureContent .figure img {
   width: 100%;
}

.figureBox .figureContent .figure img.halfWidth {
   width: 50%;
}

.figureBox .figureContent .figure .caption {
   font-size: 10pt;
}

.videoBox iframe {
   width: 280px;
   height: 210px;
}

.videoBox iframe.wide {
   width: 280px;
   height: 158px;
}

.videoBox {
   width: auto;
   margin-left: 18px;
   padding-bottom: 18px;
}

.videoBox .videoContent {
   background-color: #ebebeb;
   padding: 9px;
}

.supplementalBox {
   width: 280px;
}

.supplementalBox .title {
   font-size: 18px;
}

.supplementalBox .supplementalItem {
   padding-bottom: 10px;
   font-size: 9pt;
}

.codeBox {
   width: 280px;
   padding-bottom: 20px;
}

.codeBox .title {
   font-size: 18px;
   top: 6px;
}

.codeBox .codeContent {
   padding: 9px;
}

.codeBox td {
   font-size: 9pt;
   vertical-align: top;
   padding-bottom: 2px;
   padding-top: 2px;
}

.codeBox .subTitle {
   font-size: 9pt;
}

.supplementalBox .supplementalDescription {
   font-size: 8pt;
   padding-bottom: 6pt;
}

.textBox {
   width: 280px;
}

.textBox .textContent {
   font-size: 8pt;
}

.textBox .title {
   font-size: 18px;
   position: relative;
   top: 3px;
}

.columnWidthBox img {
   width: 80%;
}

.columnWidthBox img.halfWidth {
   width: 50%;
}

.columnWidthBox .license {
   font-size: 9pt;
   width: 220px;
}

.columnWidthBox .license:before {
   font-size: 9pt;
}

.frontPage img.sideItem {
   width: 60%;
}