.frontPage .about
{
   width: 100%;
   margin-top: 14px;
   margin-left: 0px;
   height: 166px;
}
.frontPage .about td.content .container .text
{
   height: 120px;
}

.header .institution
{
   font-size: 18px;
   top: -2px;
}

.paperBox .paperContent
{
   font-size: 12px;
}
.paperBox .paperContent img
{
   width: 90%;
   height: auto;
}
.paperBox .paperContent .abstractText
{
   font-size: 10pt;
}
.paperBox .paperContent .paperTitle
{
   font-size: 18px;
}
.paperBox .journalTitle
{
   font-size: 14px;
}
.paperBox .paperAward
{
   font-size: 14px;
}
.paperBox .paperContent .authorNames
{
   font-size:10pt;
}
.paperBox .paperContent .authorNames table
{
   font-size: 14px;
}
.paperBox .paperContent .authorNames td
{
   padding-left: 20px;
   padding-right: 20px;
}

.seeAlsoBox
{
   width: 400px;
}

.dataBox img
{
   width: 100%;
}

.figureBox
{
   width: 100%;
   margin: 0px;
   margin-left: auto;
   margin-right: auto;
}
.figureBox .title
{
   left: 4px;
   top: 6px;
}
.figureBox .figureContent
{
   padding: 0px;
   padding-top: 18px;
}
.figureBox .figure
{
   width: 85%;
   margin-left: auto;
   margin-right: auto;
   padding-bottom: 40px;
}
.figureBox .figureContent .figure img
{
   width: 100%;
}
.figureBox .figureContent .figure img.halfWidth
{
   width: 50%;
}
.figureBox .figureContent .figure .caption
{
   font-size: 10pt;
}

.videoBox iframe
{
   width: 320px;
   height: 240px;
}
.videoBox iframe.wide
{
   width: 320px;
   height: 180px;
}
.videoBox
{
   width: auto;
   margin-left: 18px;
   padding-bottom: 18px;
}
.videoBox .videoContent
{
   background-color: #ebebeb;
   padding: 11px;
}

.supplementalBox .supplementalItem
{
   padding-bottom: 10px;
   font-size: 10pt;
}


.codeBox
{
   width: 400px;
}
.codeBox td
{
   font-size: 9pt;
}

.supplementalBox .supplementalDescription
{
   font-size: 9pt;
   padding-bottom: 6pt;
}

.columnWidthBox img
{
   width:80%;
}
.columnWidthBox img.halfWidth
{
   width:50%;
}

.columnWidthBox .license
{
   font-size: 10pt;
}
.columnWidthBox .license:before
{
   font-size: 10pt;
}

.textBox
{
   width:416px;
}

.paperSet
{
   text-align: center;
}
